.card {

    --card-width-var: 100%;
    --card-max-height: 4rem;
    --card-border-radius: 1rem;

    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: start;
    justify-items: center;

    z-index: 0;
    width: var(--card-width-var);
    cursor: pointer;
    transition: .2s;
    border: 1px solid rgb(77, 77, 77);
    border-radius: var(--card-border-radius);
    background-size: cover;
    height: var(--card-max-height);

    opacity: 0;
    transition: .3s;
    animation: show .3s;
    animation-fill-mode: forwards;
    animation-delay: .3s;
}

.card:hover {
    transform: scale(105%);
    z-index: 1;
}

@keyframes show {

    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }

}

.bg_blur {
    position: absolute;
    background-color: rgb(36, 36, 36, 0.5);
    width: 100%;
    height: 4rem;
    border-radius: 1rem;
}

.release_image_border {
    position: relative;

    width: var(--card-max-height);
    max-height: var(--card-max-height);
    
    place-content: center;
    align-items: center;

    overflow: hidden;
    cursor: pointer;
    border-radius: var(--card-border-radius);
}

.release_image {
    object-fit: cover;
    width: 100%;
    height: 100%;
    user-select: none;
}

.release_info {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 0.5rem;
    height: var(--card-height-var);
    z-index: 2;
    width: 100%;
}

.anime_title {
    text-decoration: none;
    color: aliceblue;
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 1.2rem;
    width: 100%;
    height: 100%;
    align-content: center;

    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.bottom_info {
    display: flex;
    flex-direction: row;
    gap: 0.2rem;
    max-width: var(--card-width-var/4*3);
    flex-wrap: wrap;
    margin-top: 0.4rem;
}

.anime_subinfo {
    border-radius: 1rem;
    font-size: 0.8rem;
    font-weight: 400;
    color: rgb(178, 186, 194);
    line-height: 0.5rem;
    padding: 0.5rem;
    border: 1px solid rgb(178, 186, 194);
}

.anime_subinfo_noborder {
    position: relative;
    display: block;
    align-content: center;
    font-size: 0.9rem;
    font-weight: 600;
    color: rgb(178, 186, 194);
    line-height: 1rem;
    min-width: 5rem;
    height: 100%;
}

.description_and_action_buttons {

    opacity: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    gap: 1rem;
    width: calc(var(--card-width-var) - 2rem);
    height: calc(var(--card-max-height) - 2rem);
    border-radius: var(--card-border-radius);
    background: rgba(36, 36, 36, 0.6);
    z-index: 3;
    transition: .3s;
}

/* .card:hover .description_and_action_buttons {
    opacity: 1;
} */

.card_action_buttons{
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    justify-content: center;
}

.card_action_button {
    position: relative;
    display: flex;
    justify-content: center;
    border: none;
    outline: none;
    height: var(--card-max-height);
    width: 50%;
    border-radius: var(--card-border-radius);
    background-color: transparent;
    transition: .3s;
    cursor: pointer;
    padding: 1rem;
    text-decoration: none;
}

.card_action_button_mini {
    position: relative;
    align-items: center;
    place-content: center;
    border: none;
    outline: none;
    height: var(--card-max-height);
    width: 4rem;
    border-radius: var(--card-border-radius);
    background-color: rgb(36, 36, 36, 0.8);
    transition: .3s;
    cursor: pointer;
}

.card_action_button_active {
    position: relative;
    align-items: center;
    place-content: center;
    border: none;
    outline: none;
    height: var(--card-max-height);
    width: 4rem;
    border-radius: var(--card-border-radius);
    background-color: rgb(189, 78, 44, 0.8);
    transition: .3s;
    cursor: pointer;
}

.link{
    position: relative;
    text-decoration: none;
    color: rgb(230, 230, 230);
    height: 100%;
    font-weight: 600;
    font-size: 1rem;
}

.card_action_button_mini:hover,
.card_action_button:hover {
    background-color: rgb(85, 85, 85, 0.3);
}

.card_action_button_ico {
    user-select: none;
    width: 1.2rem;
    height: 1.2rem;
    color: rgb(230, 230, 230);
}
  