.last_releases_list_page {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    opacity: 0;
    transition: .3s;
    animation: show .3s;
    animation-fill-mode: forwards;
    animation-delay: .3s;
    justify-self: center;
    max-width: 110rem;
}

@keyframes show {

    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }

}

.last_releases_list_cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(19.5rem, 1fr));
    gap: 0.5rem;
    width: 100%;
}

@media (max-width: 768px) {
    .last_releases_list_cards {
        grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
        gap: 0.5rem;
    }
}