.section {
    position: relative;
    display: flex;
    flex-direction: column;
    
    place-self: center;
    overflow: hidden;

    padding-top: 5.5rem;
    
    gap: 1rem;
}

.section::-webkit-scrollbar {
    width: 0.5rem;
}

.section::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 6.25rem;
}

.section::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 6.25rem;
}

.section_title {
    font-weight: 600;
    align-self: flex-start;
    z-index: 10;
}
