.section {
    display: flex;
    flex-direction: column;
    max-width: 110rem;
    width: 100%;
    gap: 0.5rem;
    place-self: center;
}

.section_title {
    width: 100%;
    place-self: start;
    font-weight: 400;
    z-index: 10;
}

.releases_schedule {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
}

.last_releases {
    position: relative;
    display: flex;
    justify-content: center;
    padding-bottom: 0.5rem;
    max-width: 110rem;
}

.sh_day_title {
    place-self: start;
    font-weight: 200;
    color: lightgray;
}


.carousel_buttons {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    width: 120rem;
    top: 0;
    pointer-events: none;
    height: 100%;
    z-index: 2;
}

.carousel_button {
    border: none;
    outline: none;
    width: 5rem;
    background-color: rgba(36,36,36, 0.5);
    transition: .3s;
    cursor: pointer;
    pointer-events: all;
    background: linear-gradient(0deg, rgba(36,36,36,0) 20%, rgba(36,36,36,0.6) 50%, rgba(0,0,0,0) 80%);
}

.carousel_button:hover { 
    background-color: rgba(36,36,36, 0.5);
}

.arrow_ico {
    width: 2rem;
    height: 2rem;
}