.wrapper {
  display: inline-flex;
  align-items: center;
  gap: var(--space-2);
}

.input {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  transition: all .3s;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 1rem;
  color: var(--color-text);
  line-height: 1.5;
}

/* Hide native clear and decorations for type=search to avoid double "X" */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}
input[type="search"]::-ms-clear { display: none; width: 0; height: 0; }

.input::placeholder {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 1rem;
  color: rgb(180, 180, 180);
  transition: color .3s;
}

.input:focus::placeholder { 
  color: rgb(189, 78, 44);
}


