.schedule_preview_wrap {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: start;
    justify-items: center;
    align-items: center;
    max-width: 110rem;
    width: 100%;

    align-self: center;


    /* background: linear-gradient(to right, rgba(36, 36, 36, 0.8) 0%, rgba(189, 78, 44, 0.8) 100%); */
}

.schedule {
    column-count: 2;
    column-gap: 0.5rem;
    box-sizing: border-box;
    column-fill: balance;
    padding: 1rem;
}

@media (max-width: 768px) {
    .schedule_preview_wrap {
        padding: 0 0.75rem;
    }
    .schedule {
        column-count: 1;
        padding: 0.5rem 0;
        column-gap: 0;
    }
}