.last_releases {
    /* display: flex; */
    /* align-content: start;
    flex-wrap: wrap;
    flex-direction: column;
    flex-basis: 19.5rem;
    height: 32rem;
    box-sizing: border-box; */
    /* grid-auto-flow: column dense;
    gap: 0.5rem; */
    column-count: 5;
    column-gap: 0.5rem;
    box-sizing: border-box;
    column-fill: balance;
    padding: 1rem;

}