.root {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: var(--autoCol, 86%);
  gap: .5rem;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
}
.root > * { scroll-snap-align: start; }


