.auth_page_wrap {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    max-width: 120rem;
    overflow: hidden;
    justify-self: center;
}

.auth_page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    gap: 1rem;
}

.auth_page_title {
    text-align: center;
}

.auth_form {
    display: flex;
    flex-direction: column;
    justify-self: center;
    gap: 0.5rem;
}

.auth_form_input_col {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: space-between;
}

.auth_form_input_line {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.remember_button_wrap {
    margin: 0.5rem 0 0.5rem 0;
}

.auth_input {
    outline: none;
    border: 1px solid gray;
    border-radius: 0.5rem;
    padding: 0.5rem;
    width: 16rem;
    background-color: #3d3d3d;
}

.remember_button {
    cursor: pointer;
}

.submit_button {
    text-align: center;
    background-color: #3d3d3d;
    border: none;
    outline: none;
    padding: .5rem;
    border-radius: .5rem;
    cursor: pointer;
    transition: .3s;
}

.submit_button:hover { 
    background-color: rgb(189, 78, 44);
}
