.content_wrap {
    display: flex;
    width: 100%;
    justify-content: center;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: var(--header-height);
    width: 100%;
    max-width: 120rem;
    padding-left: 1rem;
    padding-right: 1rem;
    gap: 1rem;
}

.footer {
    height: 10rem;
}