.сollection_page_wrap {
    min-height: 100vh;
    max-width: 120rem;
}

.сollection_page {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    opacity: 0;
    transition: .3s;
    animation: show .3s;
    animation-fill-mode: forwards;
    animation-delay: .3s;
    justify-self: center;
    max-width: 100rem;
}

@keyframes show {

    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }

}

.collection_full_wrap {
    position: relative;
    width: 66rem;
    height: 100vh;
}

.collection_full {
    display: block;
    transition: .2s;
}

.collection_poster_border {
    position: relative;
    width: 66rem;
    height: 30rem;
    border-radius: 1rem;
    overflow: hidden;
}

.collection_poster {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.collection_body {
    position: relative;
    padding: 1rem;
}

.collection_releases {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    max-width: 67rem;
    padding-left: 0.5rem;
}