.bookmarks_button_title {
    text-align: center;
    align-content: center;
    line-height: 0.6rem;
    width: 6rem;
    height: 2rem;
    overflow: hidden;
    border-radius: 1rem;
    /* border: 1px solid rgb(68, 68, 68); */

    background-color: transparent;
    font-weight: 600;
    font-size: 0.8rem;
    color: rgb(230, 230, 230);
    transition: .2s;
    text-decoration: none;
}


.bookmarks_button_title_active {

    text-align: center;
    align-content: center;
    line-height: 0.6rem;
    width: 6rem;
    height: 2rem;
    overflow: hidden;
    border-radius: 1rem;
    /* border: 1px solid rgb(189, 78, 44); */
    background-color: transparent;
    color: rgb(189, 78, 44);
    font-weight: 600;
    font-size: 0.8rem;
    /* color: rgb(230, 230, 230); */
    text-decoration: none;
    transform: scale(120%);
    transition: .2s;

}

/* Hover effects - only on devices with hover capability */
@media (hover: hover) {
  .bookmarks_button_title_active:hover,
.bookmarks_button_title:hover {
  transform: scale(120%);
    z-index: 999;
}
}
