

.vert_card {

    position: relative;
    display: flex;
    flex-direction: row;

    z-index: 0;
    width: calc(21.5rem - 2px);
    height: 14rem;
    transition: .2s;
    background-color: rgba(36, 36, 36);
    border: 1px solid rgb(53, 53, 53);
    border-radius: 1rem;
    background-size: cover;

    opacity: 0;
    transition: .3s;
    animation: show .3s;
    animation-fill-mode: forwards;
    animation-delay: .3s;
}

.vert_card:hover {
    transform: scale(105%);
    z-index: 1;
    box-shadow: 0 5px 5px 10px rgba(36, 36, 36, 0.5);
}

@keyframes show {

    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }

}

.release_image_border {
    position: relative;

    width: calc((21.5rem - 2px)/2 - 1rem);
    height: calc(14rem - 2px);
    
    place-content: center;
    align-items: center;

    overflow: hidden;
    border-radius: 1rem;
    border: 1px solid rgb(53, 53, 53);

    background-color: rgb(48, 48, 48);
}

.release_image {
    object-fit: cover;
    width: 100%;
    height: 100%;
    user-select: none;
}

.release_lists_info {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    bottom: 0;
    margin-bottom: 0.3rem;
}

.bookmark {
    position: relative;
    z-index: 3;
}

.user_list_name {
    width: calc(100% - 0.8rem);
    text-align: center;
    font-weight: 500;
    font-size: 0.9rem;
    padding: 0.1rem;
    color: white;
    border-radius: 1rem;
}

.release_info {
    position: relative;
    padding: 0.5rem;
    width: calc((21.5rem - 2px)/2);
    z-index: 2;
}

.anime_title {
    text-decoration: none;
    color: aliceblue;
    font-size: 1.1rem;
    font-weight: 600;
    margin-top: 0.4rem;
    line-height: 1.2rem;


    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.bottom_info {
    display: flex;
    flex-direction: row;
    gap: 0.2rem;
    max-width: calc((21.5rem - 2px)/2);
    flex-wrap: wrap;
    margin-top: 0.6rem;
}

.anime_subinfo {
    border-radius: 1rem;
    font-size: 0.8rem;
    font-weight: 400;
    color: rgb(178, 186, 194);
    line-height: 0.5rem;
    padding: 0.5rem;
    border: 1px solid rgb(178, 186, 194);
}

.anime_subinfo_noborder {
    font-size: 0.9rem;
    font-weight: 400;
    color: rgb(178, 186, 194);
    line-height: 1rem;
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
}

.description_and_action_buttons {

    opacity: 0;

    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    bottom: 0;
    padding: 1rem;
    gap: 1rem;
    width: calc((21.5rem - 2px) - 2rem);
    height: calc(14rem - 2rem);
    border-radius: 1rem;
    background: linear-gradient(rgba(36, 36, 36, 0.9) 0%, rgba(36, 36, 36, 1) 100%);
    z-index: 3;

    transition: .3s;
}

.vert_card:hover .description_and_action_buttons {
    opacity: 1;
}

.description{
    position: relative;
    height: min-content;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    line-height: 1.2rem;
    font-size: 0.9rem;
    font-weight: 600;
}

.card_action_buttons{
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    justify-content: center;
}

.card_action_button {
    position: relative;
    display: flex;
    border: none;
    outline: none;
    height: 100%;
    align-items: center;
    border-radius: 1rem;
    background-color: rgb(36, 36, 36, 0.8);
    border: 1px solid rgb(78, 78, 78);
    transition: .3s;
    cursor: pointer;
    padding: 0.5rem;
    text-decoration: none;
}

.card_link_action_button {
    position: relative;
    display: flex;
    border: none;
    outline: none;
    height: 100%;
    align-items: center;
    border-radius: 1rem;
    background-color: transparent;
    border: 1px solid rgb(78, 78, 78);
    transition: .3s;
    cursor: pointer;
    padding: 0.5rem;
    text-decoration: none;
}

.card_action_button_active {
    position: relative;
    display: flex;
    border: none;
    outline: none;
    height: 100%;
    align-items: center;
    border-radius: 1rem;
    background-color: rgb(189, 78, 44, 0.8);
    border: 1px solid rgb(78, 78, 78);
    transition: .3s;
    cursor: pointer;
    padding: 0.5rem;
    text-decoration: none;
}

.link {
    position: relative;
    text-decoration: none;
    color: rgb(230, 230, 230);
    background-color: rgb(36, 36, 36, 0.8);
    transition: .3s;
    border-radius: 1rem;
}

.card_action_button:hover,
.link:hover {
    background-color: #555555;
}

.card_action_button_ico {
    user-select: none;
    width: 1.2rem;
    height: 1.2rem;
    color: rgb(230, 230, 230);
}
  