.page {
  display: block;
  padding-top: var(--header-height-safe);
  padding-bottom: var(--safe-area-bottom);
  min-height: calc(100vh - var(--header-height-safe) - var(--safe-area-bottom));
}

.top_sm {
  /* Additional 2rem on top of header */
  padding-top: calc(var(--header-height-safe) + 2rem);
}

.top_md {
  /* Additional 4rem on top of header */
  padding-top: calc(var(--header-height-safe) + 4rem);
}


