.page {
  display: block;
  /* padding-top moved to App.module.css .content_wrap to avoid double padding */
  min-height: calc(100vh - var(--header-height));
}

.top_sm {
  /* Additional 2rem on top of base header-height from .content_wrap */
  padding-top: 2rem;
}

.top_md {
  /* Additional 4rem on top of base header-height from .content_wrap */
  padding-top: 4rem;
}


