.popular_page_wrap {
    min-height: 100vh;
    width: 100%;
    padding-top: 4rem; /* Tabs height - header-height already in .content_wrap */
}

@media (min-width: 769px) {
    .popular_page_wrap {
    padding-top: 6.5rem;
    }
}

.popular_page {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    opacity: 0;
    transition: .3s;
    animation: show .3s;
    animation-fill-mode: forwards;
    animation-delay: .3s;
    width: 100%;
}

@keyframes show {

    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }

}


