.bookmarks_nav_buttons_wrap {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: 996;
}

.bookmarks_nav_buttons_fixed {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-self: center; */
    gap: 0.5rem;
    transition: .3s;
    z-index: 999;
    width: 100%;
    padding: 0.5rem;
    top: 3.5rem;
    /* padding-top: 4rem;
    padding-bottom: 0.5rem; */
    /* margin-top: 1rem; */
    backdrop-filter: blur(0.5rem) brightness(1.05);
    background-color: rgb(36, 36, 36, 0.8);
}