.сollections_page {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    opacity: 0;
    transition: .3s;
    animation: show .3s;
    animation-fill-mode: forwards;
    animation-delay: .3s;
    justify-self: center;
    max-width: 110rem;
}

@keyframes show {

    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }

}

.collections_cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(19.5rem, 1fr));
    gap: 0.5rem;
    width: 100%;
}

@media (max-width: 768px) {
    .сollections_page {
        /* gap: 0.75rem; */
    }

    .collections_cards {
        /* grid-template-columns: repeat(auto-fill, minmax(11.5rem, 1fr)); */
        /* gap: 0.5rem; */
        /* padding: 0 0.75rem; */
    }
}

/* Tablet */
@media (min-width: 769px) and (max-width: 1024px) {
    .collections_cards {
        /* grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
        gap: 0.75rem; */
    }
}