.last_releases {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(19.5rem, 1fr));
    gap: 0.5rem;
    box-sizing: border-box;
    padding: 0.5rem 1rem 1rem 1rem;
}

@media (max-width: 1024px) {
    .last_releases {
        grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
    }
}

@media (max-width: 768px) {
    .last_releases {
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: 90%;
        grid-template-columns: none;
        gap: 0.5rem;
        padding: 0.5rem 0.75rem 1rem 0.75rem;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
    }
    .last_releases > * { scroll-snap-align: start; }

    /* iOS momentum scrolling */
    html[data-tg-platform="ios"] .last_releases {
        -webkit-overflow-scrolling: touch;
    }
}