.anime_list {
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    justify-content: center;
    gap: 1rem;
    box-sizing: border-box;
    transition: .3s;
    margin-top: 1rem;
    margin-bottom: 1rem;
}