.card {
    opacity: 0;
    transition: .3s;
    animation: show .3s;
    animation-fill-mode: forwards;
    animation-delay: .3s;
    z-index: 0;
    width: 19rem;
    cursor: pointer;
    transition: .2s;

    border-radius: 1rem;
    background-color: rgba(36, 36, 36);
    border: 1px solid rgb(53, 53, 53);

    text-decoration: none;
}

.card:hover {
    transform: scale(108%);
    z-index: 1;
    box-shadow: 0 5px 5px 10px rgba(36, 36, 36, 0.5);
}

@keyframes show {

    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }

}

.release_image_border {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 19rem;
    height: 10rem;
    overflow: hidden;
    border-radius: 1rem;
}

.release_image {
    object-fit: cover;
    width: 100%;
    height: 100%;
    user-select: none;
}

.release_info_border {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 18rem;
    padding: 1rem;
}

.anime_title {
    color: aliceblue;
    font-weight: 600;
    line-height: 0.6rem;
}

.anime_subinfo {
    line-height: 1rem;
    font-size: 14px;
    font-weight: 400;
    color: rgb(200, 200, 200);
}